main{
    width: 970px;
    height: auto;
    background-color: #1b335d;
    padding: 10px;
}
header{
    background-color: #cf3036;
    color: white;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    

}
nav{
    background-color: #297d8c;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    vertical-align: top;
    margin-right: 15px;
}
article{
    background-color: #0e1822;
    color: white;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    width: 695px;
    
}
footer{
    background-color: #5d6673;
    height: 50px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}